@tailwind base;
@tailwind components;
@tailwind utilities;



.mainContainer {
  background: linear-gradient(blue, rgb(143, 143, 255));
  width: 1200;
  height: 98;
  display: flex;
}

.description {
  padding-left: 50px;
  color: white;
  width: 60%;
  height: 900px;

  font-size: 70px;
  font-family: cursive;
}

.image {

  width: 40%;
  height: 900px;
  overflow: hidden;
  align-content: flex-end;
}

.greenColor {
  color: blueviolet;
  font-style: italic;
  font-weight: bolder;
}

.shortDescription {
  font-size: 70px;
  font-family: monospace;
  font-style: italic;
  font-weight: bolder;

}